@import "./tokens.css";
@import "./themes.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
    font-family: var(--font-sans);
    font-size: var(--font-size-md);
    line-height: var(--line-height-md);
  }
}

